* {
  font-family: "Ubuntu", sans-serif;
}

.body {
  background-image: url(../Image/bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.header {
  position: relative;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.my-container {
  margin: 0 auto;
  max-width: 1032px;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-wrapper {
  height: 58px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.journey {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  /* margin-top: 18px; */
  text-decoration: none;
  color: #ffffff;
}

.journey:hover {
  color: #01813f;
}

.header-btns {
  display: flex;
  gap: 27px;
  position: relative;
}

.header-btns::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
}

.header-btns svg {
  cursor: pointer;
}

.header-btns svg:hover path {
  fill: #01813f;
}

.welcome {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  margin-left: 53px;
  color: #ffffff;
}

.welcome:hover {
  color: #01813f;
}

.line {
  position: absolute;
  top: 0px;
  margin-top: 20px;
  height: 19px;
  border: 1px solid;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.container {
  width: 444px;
  margin: auto;
  margin-top: 54px;
  margin-bottom: 74px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.enter {
  display: flex;
  justify-content: space-around;
}

.box {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  top: 50px;
  background: #3cb878;
}

.box:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.sign-up {
  display: block;
  margin-top: 31px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  padding-right: 95px;
  color: #434343;
}

.log-in {
  display: block;
  margin-top: 31px;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: #3cb878;
}

.log-in:hover {
  color: #01813f;
  text-decoration: underline;
}

.button {
  display: flex;
  justify-content: space-between;
  width: 320px;
  gap: 10px;
  margin: auto;
}

.button-facebook {
  display: flex;
  width: 160px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #ffffff;
  background-color: #305db8;
}

.button-facebook:hover {
  background-color: #0a162f;
}

.button-facebook::before {
  content: "";
  /* position: absolute; */
  display: block;
  width: 1px;
  height: 28px;
  background: #0A162F;
  ;
  opacity: 0.1;
  top: 25%;
  transform: translateY(-5%);
}

.button-google {
  display: flex;
  width: 160px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #ffffff;
  background-color: #df4a32;
}

.button-google:hover {
  background-color: #ab1f09;
}

.line-or {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  text-align: center;
  padding: 20px;
}

.line-or::before {
  width: 152px;
  content: "";
  height: 1px;
  display: block;
  background-color: #f2f2f2;
}

.line-or::after {
  width: 152px;
  content: "";
  height: 1px;
  display: block;
  background-color: #f2f2f2;
}

.input {
  display: block;
  width: 322px;
  height: 44px;
  border-radius: 4px;
  font-family: "Ubuntu";
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  padding: 15px 19px;
  border: none;
  margin: 0 auto 15px;
  outline: none;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
}

.input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.input::placeholder {
  font-family: "Ubuntu";
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}

.checkbox {
  display: flex;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-left: 66px;
  margin-bottom: 23px;
  color: #434343;

}

.green-link {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: #3CB878;
}

.green-link:hover {
  color: #01813F;
  text-decoration-line: underline;
}

.create-account {
  position: relative;
  left: 60px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  width: 324px;
  height: 46px;
  border: none;
  color: #FFFFFF;
  margin-bottom: 38px;
}

.create-account:hover {
  background: #01813F;
  border-radius: 4px;
}